/* Generic Body Container */

.container-fluid {
  background-color: #800080;
  height: 150%;
  width: 100%
}

/* Generic Body Container Finish */

/* Custom Navbar Icon */

.fa-record-vinyl {
  font-size: 20px;
  color: #800080;
}

/* Custom Navbar Icon Finish */

/* Banner */

.banner-image {
  width: 100%;
  height: auto;
}

/* Banner Finish */

/* Text Styling */

.main-text {
  flex-wrap: nowrap;
}

h1 {
  font-size: 10vw;
}

.head-text {
  font-family: 'Lily Script One', cursive;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 3px;
  padding: 60px 60px 0px 60px;
  color: white;
}

.normal-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 3px;
  color: white;
  font-size: 3vw;
}

/* Text Styling Finish */

/* Tracks Styling */

.tracks {
  margin-top: 30px;
}

/* Most of the styling of the players have been edited within the embedded code.
As per the Soundcloud Developer documentation. */

/* Tracks Styling Finish */

.product-head {
  font-size: 7.5vw
}

/* Events Page Styling */

.card {
    margin: 10px;
}

.card-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #800080;
  letter-spacing: 3px;
}

#map {
  min-height: 360px;
  width: 100%;
  margin-top: 100px;
}

/* Events Page Styling Finish */

/* EmailJS Form Styling */

.form-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 3px;
  color: white;
  font-size: 3vw;
}

/* EmailJS Form Styling Finish */

/* Footer Styling */

footer {
  position: relative;
  width: 100%;
  margin: 0px;
}

.footer-image {
  position: relative;
  max-height: 30rem;
  max-width: 35rem;
  padding-top: 10px;
  float: right;
}

.footer-text {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  position: absolute;
  text-align: left;
  bottom: 0;
  color: white;
  margin-bottom: 50px;
  font-size: 5vh;
  left: 0px;
}

.soc-link {
  position: absolute;
  bottom: 0;
  color: white;
  margin-bottom: 10px;
}

.soc-link2 {
  position: absolute;
  bottom: 0;
  color: white;
  margin-bottom: 10px;
  margin-left: 50px;
}

/* Footer Styling Finish */

